/*---------------- Contact page styling ----------------*/

.contact-content {
    display: block;
    padding-top: 0;
    max-width: 600px;
    padding: 50px;
    margin: auto;
    text-align: center;
}
.contact-content h1 {
    display: inline;
    font-size: 35px;
    margin-bottom: 20px;
}