/*---------------- Hero section ----------------*/

.info-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.info-tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
    .info-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/*---------------- Summary section ----------------*/

.summary {
    padding: 20px 20px;
    max-width: 800px;
    margin: auto;
}

/*---------------- Project Spotlight section ----------------*/

.spotlight {
    padding: 20px 20px;
    max-width: 800px;
    margin: auto;
}
.info-box:hover h2 {
    font-size: 35px;
    transition: font-size 0.3s;
}
.info-img {
    border-radius: 8px;
    float: right;
    width: 350px;
    height: 350px;
    object-fit: cover;
}
.pop-text {
    opacity: 0;
    margin: 10px;
    max-width: 350px;
    text-align: left;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.pop-text a {
    display: inline-block;
    margin-top: 20px;
    color: var(--text-color);
}
.info-box:hover .pop-text {
    opacity: 1;
    transform: translateY(0);
    color: var(--text-color);
}

/*---------------- Contact section ----------------*/

.contact {
    padding: 20px 20px;
    max-width: 800px;
    margin: auto;
}

.last-item {
    margin-bottom: 65px;
}

@media screen and (max-width: 750px) {
/*-------- Project Spotlight section --------*/

    .info-img {
        display: block;
        margin: 0 auto;
    }
    .pop-text {
        text-align: center;
        margin: 20px auto 0;
        padding: 0;
        max-width: 100%;
    }
}